@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 레이아웃 */
#header {
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
  background-color: #fff;
}
#menuNav {
}
#banner {
}
#content {
}
#login {
}
#footer {
  background-color: #211f1f;
}

/* 레이아웃 */
.container {
  width: 1280px;
  margin: 0 auto;
}

/* Row 영역 */
.row {
  padding: 0 28px;
}

/* 헤더 영역 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
}

.header h1 em {
}

.header h1 em img {
  width: 50px;
}

.header .user_menu {
}
.header .user_menu ul {
  display: flex;
}
.header .user_menu ul li {
  width: 100px;
  text-align: center;
}
.header .user_menu ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #444;
}

.cosmetic_menu {
  border-top: 1px solid #c6c6c6;
}
.cosmetic_menu ul {
  display: flex;
  justify-content: space-around;
}
.cosmetic_menu li {
  width: 100px;
  text-align: center;
}
.cosmetic_menu li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}

/* 배너 */
.banner {
}

.banner img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/* 로그인 폼 */
.login {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.login_form {
  width: 280px;

  padding: 50px;
  background-color: #f6f6f6;
}

.login_form .login_form_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.login_form .login_form_box:last-child {
  margin-bottom: 0;
}

.login_form .login_form_box label {
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
  font-weight: bold;

  margin-bottom: 8px;

  background-color: #f6f6f6;
}

.login_form .login_form_box input {
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #c6c6c6;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 15px;
}

/* 화장품 아이템 리스트*/
.cosmetic_latest,
.cosmetic_best {
  padding: 33px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cosmetics {
}

.cosmetics h2 {
  width: 24%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #c6c6c6;
  margin: 5px;
  font-family: "Nanum Pen Script";
}

.cosmetics .cosmeticList_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 화장품 아이템 */
.cosmeticItem {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid #c6c6c6;

  margin: 5px;
}

.cosmeticItem .cosmeticItem_img {
}

.cosmeticItem .cosmeticItem_img img {
  width: 100%;
}

.cosmeticItem .cosmeticItem_info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid #c6c6c6;
}

.cosmeticItem .cosmeticItem_info div {
  padding: 10px;
  width: 50%;
  text-align: center;
  font-family: "Nanum Pen Script";
}

/* 푸터 */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 33px 30px 33px;
}

.footer_info {
  display: flex;
  flex-direction: column;
}

.footer_box {
  display: flex;
  align-items: center;
  color: #8f8f8f;
  font-size: 12px;
  font-family: "Nanum Pen Script";
}

.footer_box ul {
  display: flex;
  align-items: center;
}

.footer_box ul li {
  white-space: nowrap;
}

.footer_box ul li a {
  color: #8f8f8f;
  font-size: 12px;
  font-family: "Nanum Pen Script";
}

.footer_box ul li::before {
  display: inline-block;
  content: "|";
  color: #8f8f8f;

  box-sizing: border-box;
  margin: 0 8px;
  font-size: 12px;
}

.footer_box ul li:first-child::before {
  display: none;
}

.footer_info_top ul li img {
  width: 30px;
}

.footer_info_top {
  margin-bottom: 17px;
}

.footer_info_bottom {
  margin-bottom: 17px;
}

.footer_sns {
  width: 300px;
}

.footer_sns ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_sns ul li {
  text-align: center;
  white-space: nowrap;
}

.footer_sns ul li a {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  line-height: 35px;
  color: #211f1f;
  background-color: #c6c6c6;
}

.footer_sns ul li a:hover {
  color: #211f1f;
  background-color: #fff;
  transition: all 0.3s;
}
